#!/bin/sh

# Rsync options
HOST=hostname
USER=username
PORT=22
DIR="/some/folder/ /that/you/want/ /to/back/up/"
ID_FILE="/some/ssh/id/file"

# User information
EMAIL=me@domain.net
COMPUTER=mycomputer

# Program options
OS="osx"
RUN_WAIT=120 # Minutes
NOTIFY_TITLE="Rsyncbackup"
NOTIFY_SUCCESS="Backup completed"
